.alert {
  width: 100%;
  min-height: 26px;
  padding: 0px;
}

.alert p {
  margin: 0;
}

.form-signin {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  /* background-color: blue; */
  /* border: 1px solid #0d6efd; */
  margin-top: -60px;
  background: white;
  padding: 36px;
  width: 80%;
  border-radius: 5px;
  box-shadow: 1px 2px 8px 0px rgba(13, 110, 253, 0.56);
  -webkit-box-shadow: 1px 2px 8px 0px rgba(13, 110, 253, 0.56);
  -moz-box-shadow: 1px 2px 8px 0px rgba(13, 110, 253, 0.56);
}

@media (min-width: 1458px) {
  .form {
    width: 25%;
    /* background-color: red; */
  }
}
